<h2>New Message</h2>
<form method="POST" action="/new">
    <label for="user">User
        <input type="text" name="user" id="user">
    </label>

    <label for="newText">New Text
        <input type="text" name="newText" id="newText">
    </label>
    
    <button>enter</button>
</form>